<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-tittle">
                    Peliculas
                </h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th class="text-nowrap">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let objeto of objetos">
                            <td>{{ objeto.Codigo }}</td>
                            <td>{{ objeto.Nombre }}</td>
                            <td class="text-nowrap">
                                <a routerLink="/crearPeliculas/{{objeto.Codigo}}" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Eliminar" (click)="delete(objeto.Codigo)"> <i class="fa fa-close text-danger"></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary" [routerLink]="['/admin/crearPeliculas/nueva']">Nueva Pelicula</button>
            </div>
        </div>
    </div>