<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-tittle">
                    Métodos de pago
                </h3>
                <br>
                <div class="row">
                    <div class="col">
                        <h4>Tarjeta</h4>
                    </div>
                    <div class="col">
                        <h4>Easypay</h4>
                    </div>
                </div>
                <button type="button" class="btn waves-effect waves-light btn-block btn-info">Siguiente Paso</button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-tittle">
                    Resumen de la compra
                </h3>
                <br>
                <ul>
                    <li>Cancion</li>
                    <li>Libro</li>
                    <li>Pelicula</li>
                </ul>
                <hr>
                <span>Total</span>
            </div>
        </div>
    </div>
</div>