<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-tittle">
                    Transacciones
                </h3>
                <hr>
                <h4>Filtros</h4>
                <form #form="ngForm" (ngSubmit)="submit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <label for="checkbox2"> Fecha</label>
                            </div>
                            <input type="text" placeholder="Año, Mes y Día: 2020-07-23" class="form-control"
                                name="Fecha" [(ngModel)]="filtros.Fecha">
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label for="checkbox3"> Tipo de Pago</label>
                            </div>
                            <select class="form-control" name="Tipo_Pago" [(ngModel)]="filtros.Tipo_Pago">
                                <option value="">Todos</option>
                                <option value="tarjeta">Tarjetas</option>
                                <option value="easy_pay">EasyPay</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                        </div>
                    </div>
                </form>
                <hr>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Número de Compra</th>
                            <th>Monto de Compra</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let objeto of objetos">
                            <td>{{ objeto.Fecha }}</td>
                            <td>
                                {{ objeto.Codigo}}
                            </td>
                            <td class="text-nowrap">
                                {{ objeto.Monto }}
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>