<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-tittle">
              Transacciones
          </h3>
          <hr>
          <h4>Filtros</h4>
          <div class="row">
                <div class="col-md-6">
                    <div>
                       
                        <label for="checkbox1"> Fecha</label>
                    </div>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-6">
                    <div>
                        
                        <label for="checkbox3"> Tipo de Pago</label>
                    </div>
                    <input type="text" class="form-control">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-primary">Buscar</button>
                </div>
            </div>
          <hr>
          <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Número de Compra</th>
                    <th>Monto de Compra</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let objeto of objetos" >
                    <td>{{ objeto.Fecha }}</td>
                    <td>
                        {{ objeto.Codigo}}
                    </td>
                    <td class="text-nowrap">
                        {{ objeto.Monto }}
                    </td>
            </tbody>
        </table>
        </div>
    </div>
</div>
