<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-tittle">
                    Pago Easypay
                </h3>
                <br>
                <div class="form-group">
                    <label class="control-label">Número de cuenta Easypay</label>
                    <input type="text" id="firstName" class="form-control" placeholder="Número de cuenta"> 
                </div>
                <div class="form-group">
                    <label class="control-label">Código de seguridad</label>
                    <input type="text" id="firstName" class="form-control" placeholder="Código Seguridad"> 
                </div>
                <div class="form-group">
                    <label class="control-label">Contraseña</label>
                    <input type="password" id="firstName" class="form-control" placeholder="Contraseña"> 
                </div>
                <br>
                <button type="button" class="btn waves-effect waves-light btn-block btn-info">Siguiente Paso</button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-tittle">
                    Resumen de la compra
                </h3>
                <br>
                <ul>
                    <li>Cancion</li>
                    <li>Libro</li>
                    <li>Pelicula</li>
                </ul>
                <hr>
                <span>Total</span>
            </div>
        </div>
    </div>
</div>