<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-tittle">
                    Música
                </h3>
                <br>
                <div class="col-md-12">
                    
                        <div class="card">
                            <div class="d-flex flex-row">
                                <div class="p-10 bg-primary">
                                    <h3 class="text-white box m-b-0"><i class="ti-search"></i></h3></div>
                                <div class="align-self-center m-l-20">
                                    <h3 class="m-b-0 text-info">Búsqueda</h3>
                                    <h5 class="text-muted m-b-0">Necesitas agregar almenos un filtro para poder iniciar una búsqueda</h5></div>
                            </div>
                        </div>
                  
                </div>                <br>
                <form #form="ngForm" (ngSubmit)="cargar()">
                    <div class="row">
                        <div class="col-md-2">
                            <div>
                                <label for="checkbox3"> Genero</label>
                            </div>
                            <select class="form-control" name="FiltroGenero" [(ngModel)]="filtros.Id_Genero">
                                <option value="">Seleccionar...</option>
                                <option [value]="item.Id" *ngFor="let item of generos">{{ item.Genero }}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <label for="checkbox1"> Nombre</label>
                            </div>
                            <input type="text" class="form-control" name="FiltroNombre" [(ngModel)]="filtros.Nombre">
                        </div>
                        <div class="col-md-2">
                            <div>
                                <label for="checkbox2"> Tipo</label>
                            </div>
                            <input type="text" class="form-control" name="FiltroUsuario" [(ngModel)]="filtros.Tipo_Interpretacion">
                        </div>
                        <div class="col-md-2">
                            <div>
                                <label for="checkbox3"> Idioma</label>
                            </div>
                            <select class="form-control" name="FiltroIdioma" [(ngModel)]="filtros.Id_Idioma">
                                <option value="">Seleccionar...</option>
                                <option [value]="item.Id" *ngFor="let item of idiomas">{{ item.Idioma }}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <label for="checkbox2"> País</label>
                            </div>
                            <input type="text" class="form-control" name="FiltroActores" [(ngModel)]="filtros.Pais">
                        </div>
                        <div class="col-md-2">
                            <div>
                                <label for="checkbox3"> Año</label>
                            </div>
                            <input type="text" class="form-control" name="FiltroAnnio" [(ngModel)]="filtros.Anno">
                        </div>
                        <div class="col-md-2">
                            <div>
                                <label for="checkbox3"> Disquera</label>
                            </div>
                            <input type="text" class="form-control" name="FiltroAnnio" [(ngModel)]="filtros.Disquera">
                        </div>
                        <div class="col-md-2">
                            <div>
                                <label for="checkbox3"> Disco</label>
                            </div>
                            <input type="text" class="form-control" name="FiltroAnnio" [(ngModel)]="filtros.Disco">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                        </div>
                    </div>
                </form>
                <br>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Artista</th>
                            <th>Album</th>
                            <th>Genero</th>
                            <th>Vista Previa</th>
                            <th>Compra</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of this.objetos">
                            <td>{{item.Codigo}}</td>
                            <td>
                                {{item.Nombre}}
                            </td>
                            <td class="text-nowrap">
                                {{item.Compositor}}
                            </td>
                            <td class="text-nowrap">
                                {{item.Disco}}
                            </td>
                            <td class="text-nowrap">
                                {{item.Genero}}
                            </td>
                            <td>
                                <audio controls>
                                    <source [src]="item.Archivo_Previsualizacion" type="audio/ogg">
                                  Your browser does not support the audio element.
                                  </audio>
                            </td>
                            <td>
                                <div class="row">
                                    <button class="btn btn-info" (click)="agregarAlCarrito(item)">Agregar al carrito</button>
                                </div>
                                <br>
                                <div class="row">
                                    <button class="btn btn-success" (click)="comprar(item)">Comprar</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

    