<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-tittle">
              Asignar Roles
          </h3>
          <form #form="ngForm" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Lista de usuarios</label>
                        <select multiple class="form-control" name="usuarioSeleccionado" [(ngModel)]="usuarioSeleccionado" (change)="onUsuarioChange()">
                            <option [value]="item" *ngFor="let item of usuarios">{{ item.Usuario }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Lista de roles</label>
                        <input type="text" class="form-control" name="Usuario" [(ngModel)]="usuarioSeleccionado.Usuario">
                    </div>
                    <hr>
                    <br> 
                    <div class="form-group">
                        <div class="checkbox checkbox-success" *ngFor="let item of roles">
                            <input type="checkbox" name="">
                            <label>{{ item.Rol }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Actualizar Roles</button>
                        </div>
                    </div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div> 
</div>