<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-tittle">
                    Peliculas
                </h3>
                <br>
                <h4 class="text-center">El usuario debe agregar como mínimo un filtro para iniciar la búsqueda</h4>
                <br>
                <form #form="ngForm" (ngSubmit)="cargar()">
                    <div class="row">
                        <div class="col-md-2">
                            <div>
                                <label for="checkbox3"> Genero</label>
                            </div>
                            <select class="form-control" name="FiltroGenero" [(ngModel)]="filtros.Id_Genero">
                                <option value="">Seleccionar...</option>
                                <option [value]="item.Id" *ngFor="let item of generos">{{ item.Genero }}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <label for="checkbox1"> Nombre</label>
                            </div>
                            <input type="text" class="form-control" name="FiltroNombre" [(ngModel)]="filtros.Nombre">
                        </div>
                        <div class="col-md-2">
                            <div>
                                <label for="checkbox3"> Año</label>
                            </div>
                            <input type="text" class="form-control" name="FiltroAnnio" [(ngModel)]="filtros.Anno">
                        </div>
                        <div class="col-md-2">
                            <div>
                                <label for="checkbox3"> Idioma</label>
                            </div>
                            <select class="form-control" name="FiltroIdioma" [(ngModel)]="filtros.Id_Idioma">
                                <option value="">Seleccionar...</option>
                                <option [value]="item.Id" *ngFor="let item of idiomas">{{ item.Idioma }}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <label for="checkbox2"> Actores</label>
                            </div>
                            <input type="text" class="form-control" name="FiltroActores" [(ngModel)]="filtros.Actores">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                        </div>
                    </div>
                </form>
                <br>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Genero</th>
                            <th>Precio</th>
                            <th>Vista Previa</th>
                            <th>Compra</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let objeto of objetos">
                            <td>{{ objeto.Codigo }}</td>
                            <td>{{ objeto.Nombre }}</td>
                            <td>{{ objeto.Genero }}</td>
                            <td>{{ objeto.Precio }}</td>
                            <td><a (click)="openModal(template, objeto.Archivo_Previsualizacion)" class="btn btn-info">Ver...</a></td>
                            <td>
                                <button class="btn btn-success" (click)="comprar(objeto)">Comprar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="cerrarModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <video width="420" height="240" autoplay controls>
            <source [src]="this.linkSeleccionado" type="video/mp4">
          Your browser does not support the video tag.
        </video>
    </div>
</ng-template>
    