<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section
  id="wrapper"
  class="login-register login-sidebar"
  style="background-image: url(../assets/images/background/login-register.jpg);"
>
  <div class="login-box card">
    <div class="card-body" *ngIf="getUsername">
      <form
        ngNativeValidate
        #f="ngForm"
        (ngSubmit)="recuperar(f)"
        class="form-horizontal form-material"
        id="loginform"
        action="index.html"
      >
        <a href="javascript:void(0)" class="text-center db"
          ><img src="../assets/images/logo-icon.png" alt="Home" /><br /><img
            src="../assets/images/logo-text.png"
            alt="Home"
        /></a>
        <div class="form-group m-t-40">
          <div class="col-xs-12">
            <input
              ngModel
              name="Username"
              class="form-control"
              type="text"
              required
              placeholder="Usuario"
            />
          </div>
        </div>
        <br>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button
              class="btn btn-info btn-lg btn-block text-uppercase btn-rounded"
              type="submit"
            >
              <a>Recuperar Contraseña</a>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="card-body" *ngIf="getAnswer">
        <form
          ngNativeValidate
          #fResponse="ngForm"
          (ngSubmit)="enviarRespuesta(fResponse)"
          class="form-horizontal form-material"
          id="loginform"
          action="index.html"
        >
          <a href="javascript:void(0)" class="text-center db"
            ><img src="../assets/images/logo-icon.png" alt="Home" /><br /><img
              src="../assets/images/logo-text.png"
              alt="Home"
          /></a>
          <br>
          <div>
              <h3>Pregunta de seguridad: {{ this.pregunta }}</h3>
          </div>
          <div class="form-group m-t-40">
              <div class="col-xs-12">
                <input
                  ngModel
                  name="SecurityAnswer"
                  class="form-control"
                  type="text"
                  required
                  placeholder="Respuesta de seguridad"
                />
              </div>
            </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button
                class="btn btn-info btn-lg btn-block text-uppercase btn-rounded"
                type="submit"
              >
                <a>Enviar respuesta</a>
              </button>
            </div>
          </div>
        </form>
    </div>
    <div class="card-body" *ngIf="getPassword">
        <form
          ngNativeValidate
          #fCambiar="ngForm"
          (ngSubmit)="cambiarContrasenna(fCambiar)"
          class="form-horizontal form-material"
          id="loginform"
          action="index.html"
        >
          <a href="javascript:void(0)" class="text-center db"
            ><img src="../assets/images/logo-icon.png" alt="Home" /><br /><img
              src="../assets/images/logo-text.png"
              alt="Home"
          /></a>
          <br>
          <div class="form-group m-t-40">
              <div class="col-xs-12">
                <input
                  ngModel
                  name="newPassword"
                  class="form-control"
                  type="text"
                  required
                  placeholder="Ingrese la nueva contraseña"
                />
              </div>
            </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button
                class="btn btn-info btn-lg btn-block text-uppercase btn-rounded"
                type="submit"
              >
                <a>Enviar nueva contraseña</a>
              </button>
            </div>
          </div>
        </form>
    </div>
  </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
