<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-tittle">
              Crear Cancion
          </h3>
          <hr>
          <form>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Codigo</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Genero</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Interpretacion</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Paìs</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Idioma</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Disquera</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre Disco</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Año</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Archivo descarga</label>
                        <input type="file" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Archivo visualizacion</label>
                        <input type="file" class="form-control">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="form-actions">
                    <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Guardar</button>
                    <button type="button" class="btn btn-inverse">Cancelar</button>
                </div>
            </div>
          </form>
        </div>
    </div>
</div>