<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-tittle">
             Consulta Bitácora
          </h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Fecha</label>
                    <input name="Fecha" [(ngModel)]="item.Fecha" type="text" class="form-control" disabled>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Usuario</label>
                    <input name="Codigo_Usuario" [(ngModel)]="item.Codigo_Usuario" type="text" class="form-control" disabled>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Codigo Registro</label>
                    <input name="Codigo_Registro" [(ngModel)]="item.Codigo_Registro" type="text" class="form-control" disabled>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tipo</label>
                    <input name="Tipo" [(ngModel)]="item.Tipo" type="text" class="form-control" disabled>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Descripcion</label>
                    <textarea name="Descripcion" [(ngModel)]="item.Descripcion" type="text" class="form-control" disabled></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Registro en detalle</label>
                    <textarea name="Detalle_Registro" [(ngModel)]="item.Detalle_Registro" type="text" class="form-control" disabled></textarea>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-actions">
                <button type="button" [routerLink]="['/bitacora']" class="btn btn-inverse">Volver</button>
            </div>
        </div>
        </div>
    </div>
</div>