<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-tittle">
             Consulta Bitàcora
          </h3>
          <hr>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Fecha</label>
                    <input type="text" class="form-control" disabled>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" class="form-control" disabled>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Codigo registro</label>
                    <input type="text" class="form-control" disabled>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tipo</label>
                    <input type="text" class="form-control" disabled>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Descripcion</label>
                    <textarea type="text" class="form-control" disabled></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Registro en detalle</label>
                    <textarea type="text" class="form-control" disabled></textarea>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-actions">
                <button type="button" [routerLink]="['/bitacora']" class="btn btn-inverse">Volver</button>
            </div>
        </div>
        </div>
    </div>
</div>