<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <form #form="ngForm" (ngSubmit)="submit()">
                    <h3 class="card-tittle">
                        Pago con tarjeta
                    </h3>
                    <small>Tarjetas gurdadas</small><br>
                    <div class="card-body collapse show waves-effect waves-light" style="background-color: cornsilk;">
                        <div class="row" *ngFor="let item of items" (click)="setMetodoPago(item)">
                            <div class="col">
                                <i class="fa fa-cc-visa fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="col">
                                {{ item.Numero }}
                            </div>
                            <div class="col">
                                {{ item.Mes_Expiracion }}/{{ item.Anno_Expiracion }}
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-danger" (click)="eliminar(item)">Borrar</button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <small>Nueva tarjeta</small>
                    <br>
                    <div class="row">
                        <div class="col">
                            <input class="form-control" type="number" placeholder="Número tarjeta" name="Numero"
                                [(ngModel)]="metodoPago.Numero">
                        </div>
                        <div class="col">
                            <input class="form-control" type="number" placeholder="Mes Exp." name="Mes_Expiracion"
                                [(ngModel)]="metodoPago.Mes_Expiracion">
                        </div>
                        <div class="col">
                            <input class="form-control" type="number" placeholder="Año   Exp." name="Anno_Expiracion"
                                [(ngModel)]="metodoPago.Anno_Expiracion">
                        </div>
                        <div class="col">
                            <input class="form-control" type="number" placeholder="CVV" name="CVV"
                                [(ngModel)]="metodoPago.CVV">
                        </div>
                    </div>

                    <!--<ngx-recaptcha2 #captchaElem [siteKey]="siteKey"></ngx-recaptcha2>-->                    <br>

                    <div class="recaptcha">
                        <re-captcha (resolved)="resolved($event)" siteKey="6LeeUcAZAAAAAFCb4Nr7V3d9vXEfB0pS0P6S7inz"></re-captcha>
                    </div>


                    <br>
                    <div class="row">
                    <button type="button" class="btn waves-effect waves-light btn-block btn-secondary" (click)="guardar()">
                        Guardar Método de Pago </button></div>
                    <br>
                    <div class="row">
                    <button type="submit" class="btn waves-effect waves-light btn-block btn-primary">Procesar la
                        Compra</button></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-tittle">
                    Resumen de la compra
                </h3>
                <br>
                <ul>
                    <li *ngFor="let item of carrito.obtener()">{{ item.Nombre }} | ₡{{ item.Precio }}</li>
                </ul>
                <hr>
                <span>Total ₡{{ carrito.obtenerMonto() }}</span>
            </div>
        </div>
    </div>
</div>