<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-tittle">
                    Pago con tarjeta
                </h3>
                <small>Tarjetas gurdadas</small>
                <div class="card-body collapse show waves-effect waves-light" style="background-color: cornsilk;">
                    <div class="row">
                        <div class="col">
                            <input name="group1" type="radio" class="with-gap" id="radio_3">
                        </div>
                        <div class="col">
                            img
                        </div>
                        <div class="col">
                            xxxxxxxxxxxxxxxx
                        </div>
                        <div class="col">
                            12/2021
                        </div>
                    </div>
                </div>
                <br>
                <hr>
                <small>Nueva tarjeta</small>
                <br>
                <div class="row">
                    <div class="col">
                        <input class="form-control"  placeholder="Número tarjeta">
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Fecha Exp.">
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="CVV">
                    </div>
                </div>
                <br>
                <button type="button" class="btn waves-effect waves-light btn-block btn-info">Procesar la compra</button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-tittle">
                    Resumen de la compra
                </h3>
                <br>
                <ul>
                    <li>Cancion</li>
                    <li>Libro</li>
                    <li>Pelicula</li>
                </ul>
                <hr>
                <span>Total</span>
            </div>
        </div>
    </div>
</div>