<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-tittle">
              Cambiar contraseña
          </h3>
          <form #form="ngForm" (ngSubmit)="submit()">
            <div class="col-md-12 ">
                <div class="form-group">
                    <label>Contraseña</label>
                    <input [(ngModel)]="contrasenna" name="contrasenna" type="password" class="form-control">
                </div>
            </div>
            <div class="col-md-12 ">
                <div class="form-group">
                    <label>Nueva Contraseña</label>
                    <input [(ngModel)]="nuevacontrasenna" name="nuevacontrasenna"  type="password" class="form-control">
                </div>
            </div>
            <div class="col-md-12 ">
                <div class="form-group">
                    <label>Confirmar Nueva Contraseña</label>
                    <input [(ngModel)]="confirmarContrasenna" name="confirmarContrasenna"  type="password" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="form-actions">
                    <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Guardar</button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div> 
</div>