<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-tittle">
              Parametros
          </h3>
          <hr>
          <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Ruta de almacenamiento previsualizacion libros pdf</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Ruta almacenamiento libros pdf</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Ruta de almacenamiento previsualizacion peliculas</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Ruta almacenamiento peliculas</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Ruta de almacenamiento previsualizacion musica</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Ruta almacenamiento musica</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="form-actions">
                    <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Guardar</button>
                    <button type="button" class="btn btn-inverse">Cancelar</button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>